@import 'mixings';

.gallery {
    width: 100%;
    box-sizing: border-box;

    .inner-gallery-satu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        overflow: hidden;
        grid-gap: 5px 5px;

        @include breakpoint(tablet) {
            .quotes-gallery {
                grid-column: 1 / 4 !important;
                grid-row: 1 / 4 !important;
            }

            img {
                width: auto;
                height: 385px !important;
            }
        }

        @include breakpoint(adjustmentGallery) {
            .gl1 {
                justify-content: flex-end !important;
            }

            .gl2 {
                justify-content: flex-start !important;
            }

            .gl3 {
                justify-content: flex-end !important;
            }

            .gl4 {
                justify-content: flex-start !important;
            }

            .gl5 {
                justify-content: flex-end !important;
            }

            .gl6 {
                justify-content: flex-start !important;
            }
        }

        @include breakpoint(iphone5) {

            .gl1 {
                padding-left: 10px;
            }

            .gl2 {
                padding-right: 10px;
            }

            .gl3 {
                padding-left: 10px;
            }

            .gl4 {
                padding-right: 10px;
            }

            .gl5 {
                padding-left: 10px;
            }

            .gl6 {
                padding-right: 10px;
            }

            img {
                height: 220px !important;
            }
        }

        @include breakpoint(ipadPro) {
            img {
                height: 520px !important;
            }
        }

        @include breakpoint(desktop) {
            width: 1030px !important;
            margin: auto;
        }


        .quotes-gallery {
            grid-column: 1/ 3;
            grid-row: 1 / 3;
            text-align: center;
            font-family: 'Pacifico';
            font-size: 45px;
            color: rgb(25, 34, 53);
        }

        .info-gallery {
            display: flex;
            justify-content: center;
            width: 100%;
            cursor: pointer;

            .gl1 {
                grid-column: 1 / 2;
            }

            .gl2 {
                grid-column: 2 / 2;
            }

            .gl3 {
                grid-column: 3 / 1;
            }

            .gl4 {
                grid-column: 3 / 2;
            }

            .gl5 {
                grid-column: 4 / 1;
            }

            .gl6 {
                grid-column: 4 / 2;
            }

            li {
                list-style: none;
            }

            img {
                width: auto;
                height: 270px;
            }
        }
    }

    @include breakpoint(iphonePlushSeries) {
        .gl1 {
            padding-left: 15px;
        }

        .gl2 {
            padding-right: 15px;
        }

        .gl3 {
            padding-left: 15px;
        }

        .gl4 {
            padding-right: 15px;
        }

        .gl5 {
            padding-left: 15px;
        }

        .gl6 {
            padding-right: 15px;
        }
    }

    @include breakpoint(nonPlushSeries) {
        .info-gallery {
            padding: 0;
        }

        .gl1 {
            padding-left: 5px;
        }

        .gl2 {
            padding-right: 5px;
        }

        .gl3 {
            padding-left: 5px;
        }

        .gl4 {
            padding-right: 5px;
        }

        .gl5 {
            padding-left: 5px;
        }

        .gl6 {
            padding-right: 5px;
        }
    }
}