@import 'mixings';

.maps {
    width: 100%;

    .inner-maps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;

        iframe {
            width: 100%;
            height: 500px;
        }

        h2 {
            padding: 20px;
            font-family: 'pacifico';
            font-size: 35px;
            color: rgb(25, 34, 53);
        }
    }
}