* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import 'imageBanner';
@import 'content';
@import 'contentDua';
@import 'contentTiga';
@import 'saveDate';
@import 'gallery';
@import 'galleryDua';
@import 'video';
@import 'thanks';
@import 'maps';
@import 'footer';
